*{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 60px;
}
#hloo{
    font-size: 35px;
}
#item-list{
    font-size: 35px;
}

h2{
    font-size: 40px;
}

#confirm-button{
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 7px;
}

